<div class="item {{ active }}">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 text-left">
        {{ code }}
        </div>
        <div class="col-lg-5">
        {{ image }}
        </div>
    </div>
</div>
